<aside
        class="sidebar"
        th:fragment="sidebar"
        xmlns:th="http://www.thymeleaf.org">

    <section>
        <!-- sidebar-brand  -->
        <div class="sidebar-brand">
            <strong>FRAUD</strong>
        </div>
        <input type="text" hidden th:value="${active_sidebar_item}" id="active_sidebar_number">
        <div>
            <ul data-widget="tree">
                <li id="first_li">
                    <a th:href="@{/admin/agent/list}">
                        <i class="fa fa-circle-o"></i><span>Agent</span>
                    </a>
                </li>
                <li id="second_li">
                    <a th:href="@{/admin/agent/merchant/list}">
                        <i class="fa fa-circle-o"></i><span>Agent Merchant</span>
                    </a>
                </li>
                <li id="six_li">
                    <a th:href="@{/admin/transaction/list}">
                        <i class="fa fa-circle-o"></i><span>Transaction</span>
                    </a>
                </li>
                <li id="third_li">
                    <a th:href="@{/admin/gateway/list}">
                        <i class="fa fa-circle-o"></i><span>Gateway</span>
                    </a>
                </li>
                <li id="fourth_li">
                    <a th:href="@{/admin/gateway/merchant/list}">
                        <i class="fa fa-circle-o"></i><span>Gateway Merchant</span>
                    </a>
                </li>
                <li id="fifth_li">
                    <a th:href="@{/admin/merchant/list}">
                        <i class="fa fa-circle-o"></i><span>Merchant</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</aside>